.button-20 {
  appearance: button;
  background-color: var(--light-brown);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid var(--dark-brown);
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
  outline: 0;
}

.button-20:hover {
  background-color: var(--dark-brown);
  border-color: var(--dark-brown);
}

.button-20:focus {
  background-color: var(--light-brown);
  border-color: var(--brown);
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px,#856c52 0 0 0 .2rem;
}

.button-20:active {
  background-color: #74512D;
  background-image: none;
  border-color: rgb(175, 143, 111);
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
  box-shadow: #74512D 0 3px 5px inset, rgb(175, 143, 111) 0 0 0 .2rem;
}

.button-20:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

/* Button2 */

.button-56 {
  align-items: center;
  background-color:var(--brown);
  border: 2px solid var(--dark-brown);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--dark-brown);
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 15px;
  height: 36px;
  justify-content: center;
  /* line-height: 24px; */
  width: 100%;
  /* min-width:50px; */
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.button-56::before {
  background-color: var(--dark-brown);
  border-radius: 8px;
  content: "";
  display: block;
  height: 36px;
  left: -6px;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover::before {
  transform: translate(8px, 1px);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

/* @media (min-width: 768px) {
  .button-56 {
    padding: 0 ;
  }
} */