/* Order.css */
.order-modal {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Dim the background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-content h2{
  color: var(--light-cream);
}

.order-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid red; */
  background: linear-gradient(135deg, var(--light-brown), var(--brown));
  width: 500px;
  height: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.order-form input {
  padding: 10px;
  margin: 10px;
  width: 100%;
  font-size: 15px;
  background: transparent;
  color: var(--bg-color);
  border: 1px solid transparent;
  border-bottom: 1px solid var(--dark-cream);
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 5px;
  font-family: sans-serif;
}