@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.navbar {
  z-index: 99;
  margin:30px 50px;
  width: 70rem;
  height: 60px;
  position: fixed;
  top: 20px;
  left: 40%;
  transform: translate(-43%, -50%);
  background: linear-gradient(45deg, #ecb176a5, #af8f6fbd);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  backdrop-filter: blur(5px);
  /* align-items: center; */
}

.logo {
  width: 20%;
}

.logo:hover {
  transform: translate(25degs);
}

.logo img {
  height: 100%;
}

.navbar ul {
  /* border: 2px solid blue; */
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  color:#241f1f;
}

.navbar ul li:hover {
  transform: scale(1.04);
}

.navbar ul li ::after {
  position: relative;
  content: " ";
  display: block;
  width: 0;
  height: 3px;
  left:50%;
  transition: 0.5s ease;
  background-color: var(--dark-brown);
}
.navbar ul li a:hover::after{
  width: 100%;
  left: 0;
  right: 0;
}

